<div id="signupbox" class="mainbox col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><%= cer_label(params[:c_type]) %></div>
    </div>
    <div class="panel-body">

      <div class="container-page">
        <div class="col-md-12">
          <%= render 'layouts/basic_information_compact'%>

          <%= render 'layouts/citizen_basic_compact'%>
          <%= render 'layouts/address_compact'%>
          <%= render 'layouts/contact_address_compact'%>

        </div>

      </div>
    </div>
  </div>
</div>