<% if @collections %>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><p>প্রাপ্তির<br/>তারিখ</p></th>
      <th><p>যাহার<br/>নিকট<br/>হইতে<br/>গৃহীত</p></th>
      <th><p>প্রাপ্তি<br/>রশিদ<br/>বইয়ের<br/>রশিদ<br/>নং</p></th>
      <th><p>গৃহীত<br/>অর্থ<br/>(টাকা)</p></th>
      <th><p>হিসাবের<br/>খাত</p></th>
      <th><p>দৈনিক<br/>মোট<br/>(টাকা)</p></th>
      <th><p>ব্যাংক<br/>হিসাবে<br/>জমাকৃত<br/>অর্থ<br/>(টাকা)</p></th>
      <th><p>ব্যাংকে<br/>জমাদানের<br/>তারিখ</p></th>
      <th><p>ব্যাংকে<br/>জমার<br/>চালন/<br/>রশিদ<br/>নং</p></th>
      <th>মন্তব্য</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= bangla_date @start_date %></td>
      <td>প্রারম্ভিক জের</td>
      <td></td>
      <td><%= bangla_number minus_val(@balance) %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @collections.each do |c| %>
      <tr>
        <td>
          <%= bangla_date c.created_at %>
        </td>
        <td>
          <%= c.money_senders_name %>
        </td>
        <td>
          <%= bangla_number c.serial_no.to_s %>
        </td>
        <td>
          <%= bangla_number c.fee.to_s %>
        </td>
        <td>
          <%= c.babod %>
        </td>
        <% if c.voucher.present? %>
          <% if c == c.voucher.collection_moneys.where(status: :active).order("id desc").last %>

            <td>
              <% if c.voucher.present? %>
                <%= bangla_number c.voucher.total_collection.to_s %>
              <% end %>
            </td>
            <td>
              <% if c.voucher.present? %>
                <%= bangla_number c.voucher.total_collection.to_s %>
              <% end %>
            </td>
            <td>
              <%= bangla_date c.created_at %>
            </td>
            <td>
              <% if c.voucher.present? %>
                <%= bangla_number c.voucher.voucher_no.to_s %>
              <% end %>
            </td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td>
          <%= c.comment %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </tbody>
  </table>
<% end %>