<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>
  <h2>Cash Book</h2>

  <%= form_tag(cash_books_path, class: "form-inline", method: :get) do %>

      <%= render 'layouts/search_box'  %>

      <div class="form-group">
        <%= collection_select('books', 'type', CashBooksHelper.TYPE.map {|c| [c[0],c[1]]}, :last, :first,{},{class: "form-control"}) %>
      </div>

      <%= submit_tag :Search, class: "btn btn-primary" %>
  <% end %>

  <h2>প্রাপ্তি</h2>
  <div id="results">
    <%= render 'out' %>
  </div>

</div>