<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>
  <h2>Cash Book</h2>

  <%= form_tag(cash_books_path, class: "form-inline", method: :get) do %>

      <%= render 'layouts/search_box' %>

      <div class="form-group">
        <%= collection_select(:books, :type, {'প্রাপ্তি' => :in, 'প্রদান' => :out}, :last, :first, {:selected => @books_type}, {class: "form-control"}) %>
      </div>

      <%= submit_tag :Search, class: "btn btn-primary" %>
  <% end %>

  <%= render 'results' %>

</div>