<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>
  <h2>Cash Book</h2>

  <%= form_tag(cash_books_path, class: "form-inline", method: :get) do %>

      <div class="form-group">
        <label class="sr-only">Start Date</label>
        <%= text_field_tag :start_date, @start_date.strftime('%Y-%m-%d'), "data-provide" => 'datepicker', value: @start_date.strftime('%Y-%m-%d'), "data-date-format" => "yyyy-mm-dd", class: "form-control", placeholder: "Start Date" %>
      </div>

      <div class="form-group">
        <%= collection_select(:books, :type, {'প্রাপ্তি' => :in, 'প্রদান' => :out}, :last, :first, {:selected => @books_type}, {class: "form-control"}) %>
      </div>

      <%= submit_tag :Search, class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'pdf', cash_books_path(collections: { type: @books_type},start_date: @start_date,format: :pdf), class: "btn" %>


  <%= render 'results' %>

</div>