<style>

  body {
    font-size: 16px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .row {
    padding: 0;
    margin: 0;
  }

  th, tr {
    font-weight: normal;
    text-align: center;

  }

  table {
    font-size: 14px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }

  .table {
    border: 1px solid #000000;
  }

  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #000000;
    margin: 2px;
    padding: 3px;
  }

  table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid;
  }

  thead th {
    background: grey;
    color: white
  }

  [class*='col-'] {
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .margin-top-10 {
    margin-top: 10px;
  }

</style>

<div>
  <div class="container">

    <div class="row top-header">
      <div class="col-xs-12 text-center">
        <h3>ইউপি ফরম-১</h3>
        <p>( বিধি ৫(১) দ্রষ্টব্য )</p>
        <h2><b>ক্যাশ বহি </b></h2>
        <p><b><u><%= current_fiscal_year_bangla %></u> </b> অর্থ বছর, মাস <u><b><%= bangla_month @start_date.month %></b></u> /<%= bangla_number @start_date.year.to_s %> ইং</p>
        <p><%= bangla_number current_user.union_no %> নং <%= current_user.union_name_bng %> ইউনিয়ন পরিষদ,
          <u><%= current_user.upazila_name_bng %></u> উপজেলা, <u><%= current_user.zila_name_bng %></u> জেলা ।</p>
      </div>
    </div>

    <div class="row text-center">
      <h3><u>প্রদান</u></h3>
    </div>

    <div class="row">
      <div class="col-xs-12  margin-top-10">
        <%= render 'out' %>
      </div>
    </div>

  </div>
</div>