<style>

  /* ======================================
   *  02. typography
  /* ====================================== */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  a,
  a:visited,
  a:focus,
  a:active,
  a:hover {
    text-decoration: none;
    outline: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* ======================================
   *  03. custom padding, margin
  /* ====================================== */

  .wrapper-content {
    border: 5px double #666;
    padding: 1px;
    background: url('<%= Rails.root.join('public','images', @others_certificate.union_bg_name) %>') no-repeat center 50%;
    position: relative;
    overflow: hidden;
  }

  .wrapper-content-inner {
    border: 1px solid #666;
    padding: 5px 20px;
  }

  .wrapper-content:after {
    opacity: 0.6;
  }

  .logo img {
    margin-top: 20px;
    margin-left: -30px;
  }

  .top-area {
    text-align: center;
  }

  .top-area h1 {
    margin-top: 5px;
    font-size: 35px;
    color: #0958AD;
  }

  .top-area p {
  }

  .top-area h3 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 25px;

  }

  .top-area h4 {
    margin-top: 10px;
    text-decoration: underline;
  }

  .top-area .sub {
    font-size: 20px;
  }

  .main-area {
    margin-top: 5px;

  }

  .main-area #citizen_disc {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .main-area ul li {
    margin-bottom: 5px;
  }

  .text-area {
    margin-top: 10px;
  }

  .text-area .footer_center {
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
  }

  .bottom-area {
    margin-top: 40px;
  }

  .bottom-area-left strong {
    text-decoration: underline;
    font-size: 15px;
  }

  .bottom-area-left {

  }

  .bottom-area-left ol {
    line-height: 19px;
  }

  .bottom-area-left ol li {
    font-size: 11px;
    font-weight: 600;

  }

  .bottom-area-left ol ol {
    list-style: none;

  }

  .bottom-area-right ul li {
    font-weight: 600;
    font-size: 12px;
  }

  .footer {
    text-align: center;

  }

  .footer p {

  }

  .footer .chairman_stamp_with_sig {
    /*80px for no signature*/
    margin-top: 5px;
  }

  .footer .chairman_stamp_wo_sig {
    /*80px for no signature*/
    margin-top: 80px;
  }

  .footer .signature {
    margin-top: 10px;
  }

  .footer .chairman {
    font-size: 20px;
  }

  .slogan {
    margin-top: 10px;
    font-size: 16px;
  }

  .slogan #left-slogan {
    text-align: right;
  }

  body {
    color: #000;
    font-size: 18px;
    width: 100%;
    background: #FFFFFF;
  }

  .wrapper3 {
    width: 100%;
    height: 100%;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  .test {
    background: #155aa7;
  }

  .test2 {
    background: #730E15;
  }

  .test3 {
    background: #B00100;
  }

</style>

<!--========================================================
                        MAIN AREA
=========================================================-->
<div class="wrapper3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrapper-content">
          <div class="wrapper-content-inner">

            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <div class="row">
                  <div class="col-xs-4 col-xs-offset-4">
                    <div class="logo">
                      <%= image_tag wicked_pdf_asset_base64(@others_certificate.union_logo_name) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="top-area">
              <p> গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
              <p> (স্থানীয় সরকার বিভাগ)</p>
              <h1><%= bangla_number(@others_certificate.union_no) %> নং <%= @others_certificate.union_name_bng %> ইউনিয়ন পরিষদ</h1>
              <p class="sub"> ডাকঘরঃ <%= @others_certificate.post_name_bng %>, উপজেলাঃ <%= @others_certificate.upazila_name_bng %>, জেলাঃ  <%= @others_certificate.zila_name_bng %> ।</p>
              <h3>অবিবাহিত সনদ</h3>
              <h4>সনদ নং: <%= @others_certificate.certifcate_no %> </h4>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <p class="pull-right">ইস্যু তারিখ: <%= bangla_date Time.now %></p>
              </div>
            </div>

            <div class="main-area">
              <p>এই মর্মে প্রত্যয়ন করিতেছি যে,  <b><%= @others_certificate.basic_information.name %></b> আমার ইউনিয়নের <%= @others_certificate.citizen_basic.citizenship_state.name_bn %> বাসিন্দা।
                আমি তাহাকে বাক্তিগতভাবে চিনি ও জানি ।</p>
              <p id="citizen_disc">বিবরণ:</p>
              <ul>
                <li>১) নামঃ <b><%= @others_certificate.basic_information.name %></b></li>
                <li>২) পিতার নামঃ <b> <%= @others_certificate.basic_information.fathers_name %></b></li>
                <li>৩) মাতার নামঃ <b><%= @others_certificate.basic_information.mothers_name %> </b></li>
                <li>৪) ওয়ার্ড নম্বরঃ <%= bangla_number(@others_certificate.permanent_address.word_no.to_s) %></li>
                <li>৫) গ্রামঃ <%= @others_certificate.permanent_address.village %></li>
                <li>৬) ডাকঘরঃ <%= @others_certificate.permanent_address.post_office %></li>
                <li>৭) উপজেলাঃ <%= @others_certificate.upazila_name_bng %></li>
                <li>৮) জেলাঃ <%= @others_certificate.zila_name_bng %></li>

                <% if @others_certificate.citizen_basic.nid.present? %>
                    <li>৯) জাতীয় পরিচয়পত্র নম্বরঃ <b><%= bangla_number(@others_certificate.citizen_basic.nid) %> </b></li>
                <% else %>
                    <li>৯) জন্ম নিবন্ধন নম্বরঃ <b><%= bangla_number(@others_certificate.citizen_basic.birthid) %> </b></li>
                <% end %>
              </ul>
            </div>

            <div class="text-area">
              <p>আমার জানামতে, তিনি বিবাহ বন্ধনে আবদ্ধ হন নাই অর্থাৎ তিনি অবিবাহিত ।</p>
              <p class="footer_center">আমি তাহার জীবনের সর্বাঙ্গীন উন্নতি কামনা করি ।</p>
            </div>

            <div class="footer">
              <div class="row">

                <div class="col-xs-7">
                  <%= wicked_pdf_image_tag_for_public @barcode %>
                </div>

                <div class="col-xs-5 ">
                  <% if @others_certificate.signature? && params[:sign] == 'true' %>
                      <div class="signature">
                        <%= image_tag wicked_pdf_asset_base64(@others_certificate.union_sig_name), width: '100%' %>
                      </div>

                  <% end %>

                  <div class="<%= (@others_certificate.signature? && params[:sign] == 'true') ? 'chairman_stamp_with_sig' : 'chairman_stamp_wo_sig' %>">

                    <% if @others_certificate.union_chairman_name.present? %>
                        <p class="text-center chairman">( <%= @others_certificate.union_chairman_name %> )</p>
                    <% end %>

                    <p class="text-center">চেয়ারম্যান</p>
                    <p class="text-center"><%= bangla_number(@others_certificate.union.union_no.to_s) %>
                      নং <%= @others_certificate.union.name_in_bng %> ইউনিয়ন পরিষদ</p>
                    <p class="text-center"><%= @others_certificate.upz_zilla_name %></p>
                  </div>
                </div>

              </div>
            </div>

            <div class="slogan">
              <p class="text-center">হোক না আমার কুড়ে ঘর, আমিও দিব ইউপি কর</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
