<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad">
  <p id="notice"><%= notice %></p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">ওয়ারিশের বিবরণ</h3>
    </div>

    <div class="panel-body">
      <% if @warish.image_attachment.present? %>
          <%= render partial: 'layouts/show_image', locals: {image_attachment: @citizen.image_attachment} %>
      <% end %>

      <% if @warish.pending? %>
          <div class="row">
            <div class="col-xs-2">
              <label> ট্র্যাকিং নম্বর:</label>
            </div>
            <div class="col-xs-10 pull-left">
              <p><%= @citizen.tracking_id %></p>
            </div>
          </div>
      <% end %>

      <%= render partial: 'layouts/show_basic_info', locals: {person: @warish.basic_information} %>
      <%= render partial: 'layouts/show_citizen_info', locals: {person: @warish.citizen_basic} %>
      <%= render partial: 'layouts/show_address', locals: {address: @warish.present_address} %>
      <%= render partial: 'layouts/show_address', locals: {address: @warish.permanent_address} %>
      <%= render partial: 'layouts/show_contact_address', locals: {address: @warish.contact_address} %>

    </div>
  </div>
</div>