<div class="row">
  <div class="col-xs-12">

    <% if @warish.active? %>
        <%= link_to 'Back', warishes_path, class: "btn btn-primary" %>
        <%= link_to 'Print Certificate With Sign', warish_path(@warish, format: 'pdf', sign: true), class: "btn btn-success" %>
        <%= link_to 'Print Certificate W/O Sign', warish_path(@warish, format: 'pdf', sign: false), class: "btn btn-warning" %>
        <% if @warish.contact_address.email.present? %>
            <%= link_to 'Send Email', '#', class: "btn btn-success" %>
        <% end %>
        <%= link_to 'Deactivate', '#', class: "btn btn-warning" %>
    <% end %>

    <% if @warish.pending? %>
        <%= link_to 'Activate Warish', activate_warish_warish_path(@warish), class: "btn btn-info btn-default" %>
        <%= link_to 'Back', requests_warishes_path, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>