
<% if @warish.present? %>
    <div class="row">
      <div class="col-md-10 col-sm-offset-1">
        <p id="notice"><%= notice %></p>
        <% if @warish.image_attachment.present? %>
            <%= render partial: 'layouts/show_image', locals: {image_attachment: @warish.image_attachment} %>
        <% end %>

        <% if @warish.warish_no.present? %>
            <div class="row">
              <div class="col-xs-2">
                <label>নাগরিকত্ব নং:</label>
              </div>
              <div class="col-xs-10 pull-left">
                <p><%= @warish.warish_no %></p>
              </div>
            </div>
        <% end %>

        <% if @warish.pending? %>
            <div class="row">
              <div class="col-xs-2">
                <label> ট্র্যাকিং নম্বর:</label>
              </div>
              <div class="col-xs-10 pull-left">
                <p><%= @warish.tracking_id %></p>
              </div>
            </div>
        <% end %>

        <% if @warish.basic_information.present? %>
            <%= render partial: 'layouts/show_basic_info', locals: {person: @warish.basic_information} %>
        <% end %>

        <div class="row">
          <div class="col-xs-2">
            <label> ইউনিয়ন:</label>
          </div>
          <div class="col-xs-10 pull-left">
            <p><%= @warish.union_name_bng %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <label>উপজেলা:</label>
          </div>
          <div class="col-xs-10 pull-left">
            <p><%= @warish.upazila_name_bng %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <label> জেলা:</label>
          </div>
          <div class="col-xs-10 pull-left">
            <p><%= @warish.zila_name_bng %></p>
          </div>
        </div>

        <% if @warish.citizen_basic.present? %>
            <%= render partial: 'layouts/show_citizen_info', locals: {person: @warish.citizen_basic} %>
        <% end %>

        <div class="row">
          <div class="col-xs-2">
            <label>স্ট্যাটাস:</label>
          </div>
          <div class="col-xs-10">
            <p><%= @warish.status %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
            <label>তারিখ:</label>
          </div>
          <div class="col-xs-10">
            <p><%= @warish.created_at %></p>
          </div>
        </div>

      </div>
    </div>
<% else %>
    <p>No warish found</p>
<% end %>