<style>

  /* ======================================
   *  02. typography
  /* ====================================== */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  a,
  a:visited,
  a:focus,
  a:active,
  a:hover {
    text-decoration: none;
    outline: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .table {
    border: 1px solid #000000;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #000000;
    margin: 2px;
    padding: 3px;
  }


  /* ======================================
   *  03. custom padding, margin
  /* ====================================== */

  .wrapper-content {
    border: 5px double #666;
    padding: 1px;
    background: url('<%= Rails.root.join('public','images', @warish.union_bg_name) %>') no-repeat center 50%;
    position: relative;
    overflow: hidden;
  }

  .wrapper-content-inner {
    border: 1px solid #666;
    padding: 5px 20px;
  }

  .wrapper-content:after {
    opacity: 0.6;
  }

  .logo img {
    margin-top: 20px;
    margin-left: -30px;
  }

  .top-area {
    text-align: center;
  }

  .top-area h1 {
    margin-top: 5px;
    font-size: 35px;
    color: #0958AD;
  }

  .top-area p {
  }

  .top-area h3 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 25px;

  }

  .top-area h4 {
    margin-top: 10px;
    text-decoration: underline;
  }

  .top-area .sub {
    font-size: 20px;
  }

  .main-area {
    margin-top: 5px;

  }

  .main-area #citizen_disc {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .main-area ul li {
    margin-bottom: 5px;
  }

  .text-area {
    margin-top: 10px;
  }

  .text-area .footer_center {
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
  }

  .bottom-area {
    margin-top: 40px;
  }

  .bottom-area-left strong {
    text-decoration: underline;
    font-size: 15px;
  }

  .bottom-area-left {

  }

  .bottom-area-left ol {
    line-height: 19px;
  }

  .bottom-area-left ol li {
    font-size: 11px;
    font-weight: 600;

  }

  .bottom-area-left ol ol {
    list-style: none;

  }

  .bottom-area-right ul li {
    font-weight: 600;
    font-size: 12px;
  }

  .footer {
    text-align: center;

  }

  .footer p {

  }

  .footer .chairman_stamp_with_sig {
    /*80px for no signature*/
    margin-top: 5px;
  }

  .footer .chairman_stamp_wo_sig {
    /*80px for no signature*/
    margin-top: 80px;
  }

  .footer .signature {
    margin-top: 10px;
  }

  .footer .chairman {
    font-size: 20px;
  }

  .slogan {
    margin-top: 10px;
    font-size: 16px;
  }

  .slogan #left-slogan {
    text-align: right;
  }

  body {
    color: #000;
    font-size: 18px;
    width: 100%;
    background: #FFFFFF;
  }

  .wrapper3 {
    width: 100%;
    height: 100%;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  .test {
    background: #155aa7;
  }

  .test2 {
    background: #730E15;
  }

  .test3 {
    background: #B00100;
  }

</style>

<!--========================================================
                        MAIN AREA
=========================================================-->
<div class="wrapper3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrapper-content">
          <div class="wrapper-content-inner">

            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <div class="row">
                  <div class="col-xs-4 col-xs-offset-4">
                    <div class="logo">
                      <%= image_tag wicked_pdf_asset_base64(@warish.union_logo_name) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="top-area">
              <p> গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
              <p> (স্থানীয় সরকার বিভাগ)</p>
              <h1><%= bangla_number(@warish.union_no) %> নং <%= @warish.union_name_bng %> ইউনিয়ন পরিষদ</h1>
              <p class="sub"> ডাকঘরঃ <%= @warish.post_name_bng %> উপজেলাঃ <%= @warish.upazila_name_bng %>
                জেলাঃ  <%= @warish.zila_name_bng %></p>
              <h3>ওয়ারিশ সনদ পত্র</h3>
              <h4>সনদ পত্র নং: <%= @warish.warish_no %> </h4>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <p class="pull-right">ইস্যু তারিখ: <%= bangla_date Time.now %></p>
              </div>
            </div>

            <div class="main-area">
              <p>এই মর্মে প্রত্যয়ন করিতেছি যে,  <b>মৃত <%= @warish.basic_information.name %></b>, পিতা- <b> <%= @warish.basic_information.fathers_name %></b>,
                মাতা- <b><%= @warish.basic_information.mothers_name %> </b>, গ্রাম- <%= @warish.permanent_address.village %>, ওয়ার্ড -<%= bangla_number(@warish.permanent_address.word_no.to_s) %>, ডাকঘরঃ <%= @warish.permanent_address.post_office %>, উপাজেলাঃ <%= @warish.upazila_name_bng %>, জেলাঃ <%= @warish.zila_name_bng %>।
                তিনি অত্র ইউনিয়নের স্থায়ী বাসিন্দা এবং জন্মসূত্রে বাংলাদেশের নাগরিক ছিলেন । তিনি মৃত্যুকালে নিম্ন বর্ণিত ওয়ারিশ রেখে মৃত্যুবরণ করেছেন ।</p>
              <div class="main-area">

                <div class="col-lg-12">
                  <table class="table table-bordered table-hover table-sortable">
                    <thead>
                    <tr>
                      <th class="text-center">নাম</th>
                      <th class="text-center">সম্পর্ক</th>
                      <th class="text-center">মন্তব্য</th>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @warish.warish_relations.each do |wl| %>
                        <tr>
                          <td>
                            <%= wl.name %>
                          </td>
                          <td>
                            <%= wl.relation %>
                          </td>
                          <td>
                            <%= wl.comment %>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="text-area">
              <p> প্রাপ্ত তথ্য মতে এই সনদ প্রদান করা হল ।<br/>
                তথদাতার দেয়া তথ্যে কোন ত্রুটি থাকলে এই সনদ বাতিল  বলে গণ্য হবে । </p>

            </div>

            <div class="footer">
              <div class="row">

                <div class="col-xs-7">
                  <%= wicked_pdf_image_tag_for_public @barcode %>
                </div>

                <div class="col-xs-5 ">
                  <% if @warish.signature? %>
                      <div class="signature">
                        <%= image_tag wicked_pdf_asset_base64(@warish.union_sig_name), width: '100%' %>
                      </div>

                  <% end %>

                  <div class="<%= @warish.signature? ? 'chairman_stamp_with_sig' : 'chairman_stamp_wo_sig' %>">

                    <% if @warish.union_chairman_name.present? %>
                        <p class="text-center chairman">( <%= @warish.union_chairman_name %> )</p>
                    <% end %>

                    <p class="text-center">চেয়ারম্যান</p>
                    <p class="text-center"><%= bangla_number(@warish.union.union_no.to_s) %>
                      নং <%= @warish.union.name_in_bng %> ইউনিয়ন পরিষদ</p>
                    <p class="text-center"><%= @warish.upz_zilla_name %></p>
                  </div>
                </div>

              </div>
            </div>

            <div class="slogan">
              <p class="text-center">হোক না আমার কুড়ে ঘর, আমিও দিব ইউপি কর</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
