<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad">
  <p id="notice"><%= notice %></p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">নাগরিকের বিবরণ</h3>
    </div>

    <div class="panel-body">
      <% if @citizen.image_attachment.present? %>
          <%= render 'layouts/show_image', locals: {image_attachment: @citizen.image_attachment} %>
      <% end %>

      <%= render partial: 'layouts/show_basic_info', locals: {person: @citizen.basic_information} %>
      <%= render partial: 'layouts/show_citizen_info', locals: {person: @citizen.citizen_basic} %>
      <%= render partial: 'layouts/show_address', locals: {address: @citizen.present_address} %>
      <%= render partial: 'layouts/show_address', locals: {address: @citizen.permanent_address} %>
      <%= render partial: 'layouts/show_contact_address', locals: {address: @citizen.contact_address} %>

      <% if user_signed_in? %>
          <%= render 'users_actions' %>
      <% else %>
          <%= render 'public_actions' %>
      <% end %>

    </div>
  </div>
</div>