<div id="signupbox" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
<p id="notice"><%= notice %></p>

<h1>Citizens</h1>

<% if @citizens %>
    <table id="citizens">
      <thead>

      <tr>
        <th>Name in English</th>
        <th>Name in Bangla</th>
        <th>Fathers name</th>
        <th>Mothers name</th>
      </tr>
      </thead>
      <tbody>

      <% @citizens.each do |citizen| %>
          <tr>
            <td><%= link_to(citizen.name_in_eng, citizen) %></td>
            <td><%= citizen.name_in_bng %></td>
            <td><%= citizen.fathers_name %></td>
            <td><%= citizen.mothers_name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<%= link_to 'New Citizen', new_citizen_path %>
</div>