<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>

  <h1>Citizen Certificates Request:</h1>

    <% if @citizens %>
        <table class="table table-bordered table-striped">
          <thead>

          <tr>
            <th>NID</th>
            <th>Birth Id</th>
            <th>Name</th>
            <th>Requested at</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>

          <% @citizens.each do |citizen| %>
              <tr>
                <td><%= link_to(citizen.nid, citizen) %></td>
                <td><%= link_to(citizen.birthid,citizen) %></td>
                <td><%= link_to(citizen.name_in_eng,citizen) %></td>
                <td><%= citizen.requested_at %></td>
                <td><%= citizen.email %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
    </tbody>
  </table>
  </div>