<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @citizen.name_in_eng %></h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>নাম:</td>
              <td><%= @citizen.name_in_bng %></td>
            </tr>

            <tr>
              <td>বাবার নাম:</td>
              <td><%= @citizen.fathers_name %></td>
            </tr>
            <tr>
              <td>মায়ের নাম:</td>
              <td><%= @citizen.name_in_bng %></td>
            </tr>
            <tr>
              <td>স্বামী / স্ত্রীর নাম:</td>
              <td><%= @citizen.spouse_name %></td>
            </tr>

            <tr>
              <td>ওয়ার্ড নম্বর</td>
              <td><%= @citizen.village %></td>
            </tr>

            <tr>
              <td>ওয়ার্ড নম্বর</td>
              <td><%= @citizen.word_no %></td>
            </tr>
            <td>পোস্ট</td>
            <td><%= @citizen.post %></td>

            <tr>
              <td>জাতীয় পরিচয়পত্র নম্বর:</td>
              <td>Programming</td>
            </tr>

            <tr>
            <tr>
              <td>জন্ম নিবন্ধন নম্বর</td>
              <td>Programming</td>
            </tr>

            </tr>

            </tbody>
          </table>

          <!--&lt;!&ndash;<a href="#" class="btn btn-primary">Print Certificate</a>&ndash;&gt;-->
          <!--<input type="button"  class="btn btn-primary" value="Print Certificate" onClick="window.print()" />-->
          <!--<a type="button" th:href="@{/trade_license/citizen/{id}/new(id=${citizen.id})}"-->
          <!--class="btn btn-info btn-default">Trade License</a>-->

          <%= link_to 'Print', citizen_path(@citizen, format: 'pdf'),class:"btn btn-info btn-default"%>
          <%= link_to 'Edit', edit_citizen_path(@citizen),class:"btn btn-primary" %>
          <%= link_to 'Back', citizens_path,class:"btn btn-info btn-default"%>


        </div>
      </div>
    </div>


  </div>
</div>
