<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad">
  <p id="notice"><%= notice %></p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">নাগরিকের বিবরণ</h3>
    </div>

    <div class="panel-body">

      <div class="thumbnail">
        <%= cl_image_tag( @citizen.image_attachment.photo, :width => 600, :height => 400, :crop => :fill) %>
        <%= link_to("Download", cl_signed_download_url(@citizen.image_attachment.photo,{ :attachment => true})) %>
      </div>

      <%= render partial: 'layouts/show_basic_info', locals: {person: @citizen.basic_information} %>
      <%= render partial: 'layouts/show_citizen_info', locals: {person: @citizen.citizen_basic} %>
      <%= render partial: 'layouts/show_address', locals: {address: @citizen.present_address} %>
      <%= render partial: 'layouts/show_address', locals: {address: @citizen.permanent_address} %>
      <%= render partial: 'layouts/show_contact_address', locals: {address: @citizen.contact_address} %>

      <div class="row">
        <div class="col-xs-12">

          <% if @citizen.active? %>
              <%= link_to 'Print Certificate', citizen_path(@citizen, format: 'pdf'), class: "btn btn-info btn-default" %>
          <% end %>

          <% if @citizen.pending? %>
              <%= link_to 'Activate Citizen', citizen_path(@citizen, format: 'pdf'), class: "btn btn-info btn-default" %>
          <% end %>

          <%= link_to 'Back', citizens_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>