<p id="notice"><%= notice %></p>

<p>
  <strong>Name in eng:</strong>
  <%= @citizen.name_in_eng %>
</p>

<p>
  <strong>Name in bng:</strong>
  <%= @citizen.name_in_bng %>
</p>

<p>
  <strong>Fathers name:</strong>
  <%= @citizen.fathers_name %>
</p>

<p>
  <strong>Mothers name:</strong>
  <%= @citizen.mothers_name %>
</p>

<p>
  <strong>Village:</strong>
  <%= @citizen.village %>
</p>

<p>
  <strong>Post:</strong>
  <%= @citizen.post %>
</p>

<p>
  <strong>Post:</strong>
  <%= @citizen.post %>
</p>

<p>
  <strong>Union:</strong>
  <%= @citizen.union %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @citizen.spouse_name %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>
