<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2 toppad">
  <p id="notice"><%= notice %></p>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">নাগরিক আবেদন যাচাই</h3>
    </div>

    <div class="panel-body">
      <div class="row">

        <%= form_tag(verify_citizen_citizens_path, method: :get, remote: true) do %>
            <div class="form-group col-md-10">
              <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "আপনার নাগরিক আবেদনের ট্র্যাকিং নম্বরটি প্রবেশ করুন" %>
            </div>
            <div class="form-group col-md-2">
              <%= submit_tag 'খোঁজ করুন', class: "btn btn-primary" %>
            </div>
        <% end %>
        <div id="results">
          <% if @citizen.present? %>
              <%= render @citizen %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
