<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><%= @trade_license.trade_organization.enterprize_name_in_eng %></div>
    </div>
    <div class="panel-body">

      <%= form_for @trade_license, html: {class: 'form-horizontal'} do |f| %>

          <% if @trade_license.errors.any? %>
              <div id="signupalert" class="alert alert-danger">
                <h2><%= pluralize(@trade_license.errors.count, "error") %> prohibited to renew Trade License</h2>
                <ul>
                  <% @trade_license.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>


          <div class="form-group">
            <label for="nameInEng" class="col-md-3 control-label">প্রতিষ্ঠানের নাম (ইংরেজি)</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="nameInEng" placeholder="Name In English"
                     disabled="true" value="<%= @trade_license.trade_organization.enterprize_name_in_eng %>"/>
            </div>
          </div>


          <div class="form-group">
            <label for="nameInBn" class="col-md-3 control-label">প্রতিষ্ঠানের নাম (বাংলা)</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="nameInEng" placeholder="Name In English"
                     disabled="true" value="<%= @trade_license.trade_organization.enterprize_name_in_bng %>"/>
            </div>
          </div>

          <div class="form-group">
            <label for="nameInEng" class="col-md-3 control-label">সত্ত্বাধিকারীর নামঃ</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="nameInEng" placeholder="Name In English"
                     disabled="true" value="<%= @trade_license.trade_organization.owners_name_bng %>"/>
            </div>
          </div>

          <div class="form-group">
            <label for="nameInBn" class="col-md-3 control-label">ব্যবসার স্থানঃ</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="nameInEng" placeholder="Name In English"
                     disabled="true" value="<%= @trade_license.trade_organization.business_place %>"/>
            </div>
          </div>

          <div class="form-group">
            <label for="nameInBn" class="col-md-3 control-label">ব্যবসার ধরনঃ</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="nameInEng" placeholder="Name In English"
                     disabled="true" value="<%= @trade_license.trade_organization.business_category %>"/>
            </div>
          </div>


          <div class="form-group">
            <label for="nameInBn" class="col-md-3 control-label">অর্থ বছরঃ</label>
            <div class="col-md-9">

              <%= f.number_field :fiscal_year, class: "form-control", placeholder: "In English number" %>
              <span class="help-block">অর্থবছরের প্রথম বছরটি লিখুন । ২০১৬-২০১৭ অর্থবছর হলে শুধু ২০১৬ লিখুন (ইংরেজিতে)</span>
            </div>
          </div>
          <%= f.fields_for :collection_money do |cm| %>
              <div class="form-group">
                <label for="nameInBn" class="col-md-3 control-label">লাইসেন্স নবায়ন ফিঃ</label>
                <div class="col-md-9">
                  <%= cm.number_field :fee, class: "form-control", placeholder: "In English number" %>
                </div>
              </div>


              <div class="form-group">
                <label for="nameInBn" class="col-md-3 control-label">বকেয়া</label>
                <div class="col-md-9">
                  <%= cm.number_field :remain, class: "form-control", placeholder: "In English number" %>
                </div>
              </div>


              <div class="form-group">
                <label for="nameInBn" class="col-md-3 control-label">জরিমানা/অন্যান্য</label>
                <div class="col-md-9">
                  <%= cm.number_field :fine, class: "form-control", placeholder: "In English number" %>
                </div>
              </div>

              <div class="form-group">
                <label for="nameInBn" class="col-md-3 control-label">ভ্যাট</label>
                <div class="col-md-9">
                  <%= cm.number_field :vat, class: "form-control", placeholder: "In English number" %>
                </div>
              </div>
          <% end %>


          <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit :save, class: "btn btn-info" %>
            </div>
          </div>
      <% end %>
      <%= link_to 'Back', trade_organization_path(@trade_license.trade_organization) %>
    </div>
  </div>
</div>