<%= link_to 'pdf', report_tax_or_rate_collections_path(collections: {category_id: get_cat_type}, start_date: params[:start_date], end_date: params[:end_date], format: :pdf), class: "btn" %>

<% if @tax_collections %>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>সিরিয়াল নং</th>
        <th> জমার তারিখ</th>
        <th>প্রদানকারীর নাম</th>
        <th>বাবদ</th>
        <th>জমার পরিমাণ</th>
        <th>মোট</th>
      </tr>
      </thead>
      <tbody>

      <% @tax_collections.each do |t| %>
          <tr>
            <td><%= t.collection_money.serial_no %></td>
            <td><%= formatted_date_time t.created_at %></td>
            <td><%= t.collection_money.money_senders_name %></td>
            <td><%= t.babod %></td>
            <td><%= t.collection_money.collection_fee %></td>
            <td><%= t.collection_money.total %></td>
          </tr>
      <% end %>
      <tr>
        <td>সর্বমোট</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    </tbody>
    </table>
<% end %>
<%= paginate @tax_collections %>