<style>

  body{
    font-size: 18px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .footer_text{
    font-size: 20px;
  }

  #internal_table{
    font-size: 14px;
  }


  #license_no{
    font-size: 14px;
    padding-top: 3px;
  }

  th,tr{
    font-weight: normal;
    text-align: center;

  }
  table{
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }

  .table {
    border: 1px solid #000000;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #000000;
    margin: 2px;
    padding: 3px;
  }
   .trade_margin_top{
     margin-top: 12px;
   }

  .row {
    padding:0;
    margin:0;
  }

  [class*='col-'] {
    padding:0;
    margin:0;
  }

  p {
    padding:0;
    margin:0;
  }

  .margin-left{
      margin-left:7px;
  }

  .margin-right{
    margin-right:5px;
  }

  .margin-top-5{
    margin-top:5px;
  }
  .margin-top-10{
    margin-top:10px;
  }

  .margin-top-7{
    margin-top:7px;
  }

</style>

<div class="wrapper_trade">
  <div class="container">

    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>লাইসেন্স নং</p>
          </div>
          <div class="col-xs-7" >
            <p class="margin-left" id="license_no" ><%= @trade_organization.license_no%></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6 trade-label">
            <p>লাইসেন্স ইস্যু তারিখ</p>
          </div>
          <div class="col-xs-6">
            <p class="pull-left margin-left"><%= bangla_date Time.now %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>অর্থ বছর</p>
          </div>
          <div class="col-xs-7">
            <p class="margin-left"><%= @trade_organization.fiscal_year%></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6 trade-label">
            <p class="text-center">ওয়ার্ড নং</p>
          </div>
          <div class="col-xs-6">
            <p class="pull-left margin-left"><%= @trade_organization.word_no_bn%></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row  margin-top-7">
      <div class="col-xs-12">
        <p>স্থানীয় সরকার (ইউনিয়ন পরিষদ ) আইন , ২০০৯ এর ৬৬ ধারার ক্ষমতা বলে প্রণীত আদর্শ কর তফসিল, ২০১৩ এর ১৭ ধারা অনুসারে নিম্নবর্ণিত প্রতিষ্ঠান/ব্যক্তির অনূকুলে এই লাইসেন্স ইস্যু করা হলো ।</p>
      </div>
    </div>

    <div class="row margin-top-7">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>প্রতিষ্ঠানের নাম</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.enterprize_name_in_bng%></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p> প্রোপাইটর/মালিক</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.owners_name_bng %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p> পিতার নাম</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.fathers_name %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>মাতার নাম </p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.mothers_name %></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>এনআইডি/জ.নি নং</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.nid_or_birthid %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>স্থায়ী ঠিকানা</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.address %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>ব্যবসার স্থান</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.business_place %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>দোকান/হোল্ডিং নং</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= bangla_number @trade_organization.holding_no %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>ব্যবসার বিবরণ</p>
          </div>
          <div class="col-xs-9">
            <p class="margin-left"><%= @trade_organization.business_category %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-3 trade-label">
            <p>লাইসেন্সের প্রদেয় টাকা</p>
          </div>

          <div class="col-xs-9" id="internal_table">
            <table class="table table-bordered margin-left">
              <thead>
              <tr>
                <th align="center">হাল</th>
                <th  align="center">বকেয়া</th>
                <th  align="center">জরিমানা/অন্যান্য</th>
                <th  align="center">সর্বমোট</th>
                <th  align="center">ভ্যাট</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @trade_organization.license_fee %></td>
                <td><%= @trade_organization.remain %></td>
                <td><%= @trade_organization.fine %></td>
                <td><%= @trade_organization.total_fee %></td>
                <td><%= @trade_organization.vat %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12">
        <p class="footer_text">এই ট্রেড লাইসেন্স এর মেয়াদ <%= @trade_organization.deadline %> সালের ৩০ জুন পর্যন্ত বলবৎ থাকবে ।</p>
      </div>
    </div>

  </div>
</div>