<style>
  body{
    font-size: 20px;
    margin: 0 auto;
    font-size: large;
    background-color: #fcfad3;
  }

  .container {
    height:  1095px;
    background-image: url('<%= Rails.root.join('public','images','bg.png') %>');
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-header {
    background: url('<%= Rails.root.join('public','images','logo.png') %>');
    background-repeat: no-repeat;
    background-position: 50px 20px;
    background-size: 150px 100px;
    border-bottom:2px solid #6b88c4;
  }
</style>

<div class="wrapper">
  <div class="container">
    <div class="row top-header">
      <div class="col-xs-12 text-center">
        <p class="nopadding govt"> গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
        <p class="nopadding govt"> (স্থানীয় সরকার বিভাগ)</p>
        <h2><%= bangla_number(@trade_organization.union.union_no.to_s)%> নং <%= @trade_organization.union.name_in_bng %> ইউনিয়ন পরিষদ</h2>
        <p class="sub">উপজেলাঃ <%= @trade_organization.union.upazila.name_in_bng%> জেলাঃ  <%= @trade_organization.union.upazila.district.name_in_bng %></p>
      </div>
    </div>

    <div class="row ">
      <div class="col-xs-12">
        <h2 class="sarker text-center">ট্রেড লাইসেন্স</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6 col-md-4 trade-label">
            <p>লাইসেন্স নং</p>
          </div>
          <div class="col-xs-6 col-md-8">
            <p class="pull-left"><%= @trade_organization.license_no%></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4 trade-label">
            <p class="pull-right">অর্থ বছর</p>
          </div>
          <div class="col-xs-8">
            <p class="pull-left"><%= @trade_organization.fiscal_year%></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6 col-md-4 trade-label">
            <p>লাইসেন্স ইস্যু তারিখ</p>
          </div>
          <div class="col-xs-6 col-md-8">
            <p class="pull-left"><%= bangla_date Time.now %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>স্থানীয় সরকার (ইউনিয়ন পরিষদ ) আইন , ২০০৯ এর ৬৬ ধারার ক্ষমতা বলে প্রণীত আদর্শ কর তফসিল, ২০১৩ এর ১৭ ধারা অনুসারে নিম্নবর্ণিত প্রতিষ্ঠান/ব্যক্তির অনূকুলে এই লাইসেন্স ইস্যু করা হলো ।</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>প্রতিষ্ঠানের  নাম</p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.enterprize_name_in_bng%></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>স্বত্ত্বাধিকারীর নাম </p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.owners_name_bng %></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>পিতা / স্বামীর নাম  </p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.fathers_name %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>মাতার নাম </p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.mothers_name %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>স্বত্ত্বাধিকারীর ঠিকানা </p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.address %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>ব্যবসা/বৃত্তি পেশা পরিচালনার ঠিকানা</p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.business_place %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>ব্যবসা / বৃত্তি /  পেশার ধরণ</p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.business_category %></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>লাইসেন্স ফি/ নবায়ন ফি </p>
          </div>
          <div class="col-xs-7">
            <p><%=  @trade_organization.fee %></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 trade-label">
            <p>লাইসেন্সের মেয়াদ</p>
          </div>
          <div class="col-xs-7">
            <p><%= @trade_organization.deadline %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>স্বত্ত্বাধিকারীকে তার ব্যবসা / বৃত্তি /  পেশা অত্র ইউনিয়ন সীমার মধ্যে চালিয়ে যাওয়ার জন্য এই লাইসেন্স প্রদান করা হলো ।</p>
      </div>
    </div>

    <div class="row trade-footer">
      <div class="col-xs-6">
        <div class="pull-left">
          <p class="text-center">সচিব</p>
          <p><%= bangla_number(@trade_organization.union.union_no.to_s)%> নং <%= @trade_organization.union.name_in_bng %> ইউনিয়ন পরিষদ</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
          <p class="text-center">চেয়ারম্যান</p>
          <p><%= bangla_number(@trade_organization.union.union_no.to_s)%> নং <%= @trade_organization.union.name_in_bng %> ইউনিয়ন পরিষদ</p>
        </div>
      </div>

    </div>

  </div>
</div>