<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @trade_organization.enterprize_name_in_eng %></h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>প্রতিষ্ঠানের নামঃ</td>
              <td><%= @trade_organization.enterprize_name_in_bng%></td>
            </tr>
            <tr>
              <td>স্বত্বাধীকারির নামঃ</td>
              <td><%= @trade_organization.owners_name_bng %></td>
            </tr>

            <tr>
              <td>ব্যবসার স্থানঃ</td>
              <td><%= @trade_organization.business_place%></td>
            </tr>
            <tr>
              <td >ব্যবসার ধরনঃ</td>
              <td ><%= @trade_organization.business_category%></td>
            </tr>


            <tr>
              <td>স্বামী / স্ত্রীর নাম:</td>
              <td> Programming</td>
            </tr>

            </tbody>
          </table>

          <a href="@{/trade_license/trade_organization/download}"
              class="btn btn-primary">Print Certificate</a>
          <a href="@{/trade_license/trade_organization/{id}/download(id=${tradeLicense.tradeOrganization.id})}"
             class="btn btn-primary">Print Money Receipt</a>
          <a href="@{/trade_license/trade_organization/{id}/renew(id=${tradeLicense.tradeOrganization.id})}"
             role="button"
             class="btn btn-primary btn-circle">
            Renew
          </a>

        </div>
      </div>
    </div>


  </div>
</div>
</div>