<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @trade_organization.enterprize_name_in_eng %></h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>License No:</td>
              <td><%= @trade_organization.license_no%></td>
            </tr>

            <tr>
              <td>প্রতিষ্ঠানের নামঃ</td>
              <td><%= @trade_organization.enterprize_name_in_bng%></td>
            </tr>
            <tr>
              <td>স্বত্বাধীকারির নামঃ</td>
              <td><%= @trade_organization.owners_name_bng %></td>
            </tr>

            <tr>
              <td>ব্যবসার স্থানঃ</td>
              <td><%= @trade_organization.business_place%></td>
            </tr>
            <tr>
              <td >ব্যবসার ধরনঃ</td>
              <td ><%= @trade_organization.business_category%></td>
            </tr>

            <% if @trade_organization.trade_licenses.count > 0 %>

            <tr>
              <td>সর্বশেষ নবায়ন বছরঃ</td>
              <td><%= @trade_organization.trade_licenses.order('fiscal_year desc').first.fiscal_year%></td>
            </tr>
                <% end %>

            </tbody>
          </table>

          <%= link_to 'Print Certificate', trade_organization_path(@trade_organization, format: 'pdf'),class:"btn btn-info btn-default"%>
          <%= link_to 'Print Money Receipt', trade_organization_path(@trade_organization, format: 'pdf'),class:"btn btn-info btn-default"%>
          <%= link_to 'Renew', renew_trade_organization_path(@trade_organization),class:"btn btn-info btn-default"%>


        </div>
      </div>
    </div>


  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Trade Licenses</h3>
    </div>

  <div class="panel-body">
    <div class="row">

      <div class=" col-md-12 col-lg-12 ">

        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Fiscal Year</th>
            <th>License Fee</th>
            <th>Created</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @trade_organization.trade_licenses.order('fiscal_year desc').each do |trade_license| %>
              <tr>
                <td><%= trade_license.fiscal_year %></td>
                <td><%= trade_license.license_fee%></td>
                <td><%= trade_license.created_at.strftime "%B %e, %Y" %></td>
                <td>
                  <%= link_to "Edit", edit_trade_license_path(trade_license) %>
                  <%= link_to "Delete", trade_license_path(trade_license),method: :delete, data: { confirm: 'Are you sure?' }%>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
      </div>
    </div>

</div>
</div>