<div class='col-md-8 col-md-offset-2 panel panel-default'>
  <div class='panel-body'>

    <h2>Invoice</h2>
    <p><%= @trade_organization.union.name_in_bng %></p>
    <p><%= @trade_organization.enterprize_name_in_bng %></p>

    <h4>Summary</h4>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <table class='table table-hover no-border-top'>
          <tr>
            <td>নমে:</td>
            <td><%= @trade_organization.enterprize_name_in_bng %></td>
          </tr>
          <tr>
            <td>বোনে:</td>
            <td><%=@trade_organization.enterprize_name_in_bng %></td>
          </tr>
          <tr>
            <td><%= @trade_organization.enterprize_name_in_bng %></td>
            <td><%= @trade_organization.enterprize_name_in_bng %></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>