<div class="mainbox col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron">
    <% if user_signed_in? %>
        <h1 align="center"><%= bangla_number current_user.union.union_no.to_s %>
          নং <%= current_user.union.name_in_bng %> ইউনিয়ন পরিষদ</h1>
    <% else %>
        <h1 align="center">ইউনিয়ন সেবাকেন্দ্র</h1>
    <% end %>
    <p></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= form_tag(home_index_path,class: "form-inline", method: :get,remote: true ) do %>
            <div class="form-group">
              <%= text_field_tag :q,params[:q], class: "form-control",placeholder:"NID or Birthid"  %>
              <%= submit_tag :Search, class: "btn btn-primary" %>
            </div>
        <%end%>

      </div>
    </div>
  </div>

  <div id="results">
    <%= render 'results' %>
  </div>


</div>