<style>

  body{
    font-size: 20px;
    margin: 0 auto;
    font-size: medium;
    background-color: #ffffff;
  }

</style>

<div>
  <div class="container">


      <div class="row top-header">
        <div class="col-xs-12 text-center">
          <h2><%= bangla_number current_user.union_no %> নং <%= current_user.union_name_bng %> ইউনিয়ন পরিষদ</h2>
          <p class="sub"> ডাকঘরঃ <%= current_user.post_name_bng %> উপজেলাঃ <%= current_user.upazila_name_bng %>
            জেলাঃ  <%= current_user.zila_name_bng %></p>
        </div>
      </div>

      <div class="row ">
        <div class="col-xs-12">
          <h2 class="sarker text-center">টাকা জমার রশিদ</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>সিরিয়াল নং</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>লাইসেন্স নং</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>লাইসেন্স ইস্যু তারিখ</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>অর্থ বছর</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>প্রতিষ্ঠানের  নাম</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p> প্রোপাইটর/মালিক</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>ব্যবসার স্থান</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>দোকান/হোল্ডিং নং</p>
            </div>
            <div class="col-xs-8">
              <p>></p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>হাল</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>বকেয়া</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>জরিমানা/অন্যান্য</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4 trade-label">
              <p>সর্বমোট</p>
            </div>
            <div class="col-xs-8">
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row trade-footer">
        <div class="col-xs-6">
        </div>

        <div class="col-xs-6">
          <div>
            <p class="text-center">সচিব</p>
          </div>
        </div>


      </div>

    </div>

</div>