<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <p id="notice"><%= notice %></p>
  <h2>ব্যয় বিবরণী</h2>

  <%= form_tag(report_expenses_path, class: "form-inline", method: :get) do %>
      <%= render 'layouts/search_box' %>

      <div class="form-group">
        <%= collection_select(:collections, :category_id, ExpenseCategory.all, :id, :name, {:include_blank => 'সব', :selected => @selected_id}, {class: "form-control"}) %>
      </div>

      <%= submit_tag :Search, class: "btn btn-primary" %>
  <% end %>
  <div id="results">
    <%= render 'results' %>
  </div>
</div>