<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
  <p id="notice"><%= notice %></p>
  <% if @expense.present? %>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Buy</h3>
        </div>
        <div class="panel-body">
          <div class="row">

            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>প্রদানকৃত অর্থ</td>
                  <td><%= @expense.expense_money %></td>
                </tr>

                <tr>
                  <td>বাবদ</td>
                  <td><%= @expense.exp_category %></td>
                </tr>


                <tr>
                  <td>ব্যাংক চেক নং</td>
                  <td><%= @expense.bank_check_no %></td>
                </tr>


                <tr>
                  <td>ব্যাংকে জমার তারিখ</td>
                  <td><%= @expense.check_date %></td>
                </tr>

                <tr>
                  <td>নোট</td>
                  <td><%= @expense.note %></td>
                </tr>

                </tbody>
              </table>

              <%= link_to 'Back', expenses_path, class: "btn btn-primary" %>

            </div>
          </div>
        </div>
      </div>
  <% end %>

</div>