<% if @collection_moneys_kaminary %>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>সিরিয়াল নং</th>
        <th> জমার তারিখ</th>
        <th>প্রদানকারীর নাম</th>
        <th>বাবদ</th>
        <th>জমার পরিমাণ</th>
        <th>জরিমানা</th>
        <th>বকেয়া</th>
        <th>ভ্যাট</th>
        <th>মোট</th>
      </tr>
      </thead>
      <tbody>

      <% @collection_moneys_kaminary.each do |cm| %>
          <tr>
            <td><%= cm.serial_no %></td>
            <td><%= formatted_date_time cm.created_at%></td>
            <td><%= cm.money_senders_name %></td>
            <td><%= cm.collection_reason %></td>
            <td><%= cm.fee %></td>
            <td><%= cm.fine %></td>
            <td><%= cm.remain %></td>
            <td><%= cm.vat %></td>
            <td><%= cm.total %></td>
          </tr>
      <% end %>
      <tr>
        <td>সর্বমোট</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @collection_total[:total_fee] %></td>
        <td><%= @collection_total[:total_fine] %></td>
        <td><%= @collection_total[:total_remain]%></td>
        <td><%= @collection_total[:total_vat]%></td>
        <td><%= @collection_total[:total] %></td>
      </tr>
      </tbody>
    </table>
</tbody>
</table>

<% end %>
<%= paginate @collection_moneys_kaminary %>