<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'UPsheba', root_path, html_options = {class: "navbar-brand"} %>
    </div>

    <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to 'Citizens', citizens_path %> </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to 'Trade License', trade_organizations_path %> </li>
        </ul>
        <%else%>
        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to 'Request Certificate', new_citizen_request_path %> </li>
        </ul>
    <% end %>


    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <%= render 'user_nav_bar' %>
      <% else %>
          <li> <%= link_to 'Admin Signin', new_user_session_path %> </li>
      <% end %>

    </ul>
  </div>
</nav>