<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'ইউনিয়ন সেবা', root_path, html_options = {class: "navbar-brand"} %>
    </div>

    <% if user_signed_in? %>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">নাগরিক</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'নাগরিক সমূহ', citizens_path %> </li>
              <% if can? :manage, Citizen %>
                  <li class="divider"></li>
                  <li><%= link_to 'নাগরিকত্বের আবেদনকারী', requests_citizens_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">ওয়ারিশ</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'ওয়ারিশ সমূহ', warishes_path %> </li>
              <% if can? :manage, Citizen %>
                  <li class="divider"></li>
                  <li><%= link_to 'ওয়ারিশ আবেদনকারী', requests_warishes_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">অন্যান্য সনদ</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'অন্যান্য সনদ সমূহ', others_certificates_path %> </li>
              <% if can? :manage, Citizen %>
                  <li class="divider"></li>
                  <li><%= link_to 'অন্যান্য সনদ আবেদনকারী', requests_others_certificates_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>


        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">ট্রেড লাইসেন্স</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'ট্রেড লাইসেন্স', trade_organizations_path %> </li>
              <% if can? :manage, Citizen %>
                  <li class="divider"></li>
                  <li><%= link_to 'ট্রেড লাইসেন্স আবেদনকারী', requests_warishes_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">আয়</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'কর ও রেইট', tax_or_rate_collections_path %></li>
              <li class="divider"></li>
              <li> <%= link_to 'বিবিধ', others_collections_path %></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to 'ব্যয়', expenses_path %> </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">রিপোর্ট</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'কালেকশন রিপোর্ট', collection_moneys_path %> </li>
              <li class="divider"></li>
              <li> <%= link_to 'ট্যাক্স ও রেট রিপোর্ট', report_tax_or_rate_collections_path %> </li>
              <li class="divider"></li>
              <li> <%= link_to 'ব্যয় রিপোর্ট', report_expenses_path %> </li>
            </ul>
          </li>


        </ul>


    <% else %>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to 'হোম', root_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">নাগরিক</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'নাগরিকত্ব সনদের আবেদন', new_citizen_path %></li>
              <li> <%= link_to 'নাগরিকত্ব সনদের আবেদন যাচাই', verify_application_citizens_path %></li>
              <li> <%= link_to 'নাগরিকত্ব সনদ পত্র যাচাই', verify_citizen_citizens_path %></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">ওয়ারিশ</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'ওয়ারিশ সনদের আবেদন', new_warish_path %></li>
              <li> <%= link_to 'ওয়ারিশ সনদের আবেদন যাচাই', verify_application_warishes_path %></li>
              <li> <%= link_to 'ওয়ারিশ সনদ পত্র যাচাই', verify_warish_warishes_path %></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">অন্যান্য সনদ</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'অবিবাহিত সনদ', new_others_certificate_path(c_type: :unmarried) %></li>

              <!--<li> <%= link_to 'পুনঃ বিবাহ না হওয়ার সনদ', new_others_certificate_path(c_type: :no_remarried) %></li>-->
              <!--<li> <%= link_to 'একি  নামের প্রত্যয়ন পত্র', new_others_certificate_path(c_type: :rename) %></li>-->
              <!--<li> <%= link_to 'সনাতন ধর্ম অবলম্বী', new_others_certificate_path(c_type: :hindu) %></li>-->
              <!--<li> <%= link_to 'ভূমিহীন সনদ', new_others_certificate_path(c_type: :landless) %></li>-->
              <!--<li> <%= link_to 'বার্ষিক আয়ের প্রত্যয়ন', new_others_certificate_path(c_type: :annual_income) %></li>-->
              <!--<li> <%= link_to 'প্রকৃত বাঁক এবং স্রবণ প্রতিবন্ধী', new_others_certificate_path(c_type: :impirement) %></li>-->
              <!--<li> <%= link_to 'অনুমতি পত্র', new_others_certificate_path(c_type: :permission) %></li>-->
              <!--<li> <%= link_to 'প্রত্যয়ন পত্র', new_others_certificate_path(c_type: :prottoyon) %></li>-->
              <li class="divider"></li>
              <li> <%= link_to 'সনদের আবেদন যাচাই', verify_application_others_certificates_path %></li>
              <li> <%= link_to 'সনদ পত্র যাচাই', verify_certificate_others_certificates_path %></li>
            </ul>
          </li>
        </ul>

    <% end %>


    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <%= render 'user_nav_bar' %>
      <% else %>
          <li> <%= link_to 'যোগাযোগ', '#' %> </li>
          <li> <%= link_to 'Admin Signin', new_user_session_path %> </li>
      <% end %>

    </ul>
  </div>
</nav>