<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'UPsheba', root_path, html_options = {class: "navbar-brand"} %>
    </div>

    <% if user_signed_in? %>

        <% if can? :manage, Citizen %>

            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                    <span id="span">নাগরিক</span>
                <% end %>

                <ul class="dropdown-menu" role="menu">
                  <li> <%= link_to 'নাগরিক সমূহ', citizens_path %> </li>
                  <li class="divider"></li>
                  <li><%= link_to 'নাগরিকত্বের আবেদনকারী', requests_citizens_path %></li>
                </ul>
              </li>
            </ul>

        <% end %>

        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to 'ট্রেড লাইসেন্স', trade_organizations_path %> </li>
        </ul>

        <% if can? :manage, TradeOrganization %>
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                    <span id="span">কালেকশন</span>
                <% end %>

                <ul class="dropdown-menu" role="menu">
                  <li> <%= link_to 'কর ও রেইট', tax_or_rate_collections_path %></li>
                  <li class="divider"></li>
                  <li> <%= link_to 'বিবিধ', others_form_forms_path(format: 'pdf') %></li>
                </ul>
              </li>
            </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, 'aria-expanded' => false do %>
                <span id="span">রশিদ</span>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <li> <%= link_to 'কর ও রেইট', tax_or_rate_form_forms_path(format: 'pdf') %></li>
              <li class="divider"></li>
              <li> <%= link_to 'বিবিধ', others_form_forms_path(format: 'pdf') %></li>
            </ul>
          </li>
        </ul>


    <% else %>
        <ul class="nav navbar-nav navbar-left">
          <li> <%= link_to 'নাগরিকত্বের আবেদন', new_citizen_request_path %> </li>
        </ul>
    <% end %>


    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <%= render 'user_nav_bar' %>
      <% else %>
          <li> <%= link_to 'Admin Signin', new_user_session_path %> </li>
      <% end %>

    </ul>
  </div>
</nav>