<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">বিবিধ কালেকশন</div>
    </div>
    <div class="panel-body">

      <%= form_for @others_collection, html: {class: 'form-horizontal'} do |f| %>

          <% if @others_collection.errors.any? %>
              <div id="signupalert" class="alert alert-danger">
                <h2><%= pluralize(@others_collection.errors.count, "error") %> prohibited to save Others collection</h2>
                <ul>
                  <% @others_collection.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group">
            <label for="nameInBn" class="col-md-3 control-label"> প্রদানকারীর নাম (English)</label>
            <div class="col-md-9">
              <%= f.text_field :owners_name_in_english, class: "form-control", placeholder: "In English" %>
            </div>
          </div>

          <%= f.hidden_field :union_id, :value => current_user.union.id %>
          <div class="form-group">
            <label for="nameInEng" class="col-md-3 control-label">প্রদানকারীর নাম</label>
            <div class="col-md-9">
              <%= f.text_field :senders_name, class: "form-control", placeholder: "In Bangla" %>
            </div>
          </div>


          <div class="form-group">
            <label for="nameInBn" class="col-md-3 control-label"> প্রদানকারীর ঠিকানা</label>
            <div class="col-md-9">
              <%= f.text_field :senders_address, class: "form-control", placeholder: "In Bangla" %>
            </div>
          </div>


          <div class="form-group">
            <label for="nameInBn" class="col-md-3 control-label"> সময়কাল</label>
            <div class="col-md-9">
              <%= f.text_field :time_line, class: "form-control", placeholder: "In Bangla" %>
            </div>
          </div>


          <%= f.fields_for :collection_money do |cm| %>
              <div class="form-group">
                <label for="nameInBn" class="col-md-3 control-label">গৃহীত অর্থ</label>
                <div class="col-md-9">
                  <%= cm.number_field :fee, class: "form-control", placeholder: "In English number" %>
                </div>
              </div>

              <div class="form-group">
                <label for="nameInBn" class="col-md-3 control-label">জরিমানা(যদি থাকে)</label>
                <div class="col-md-9">
                  <%= cm.number_field :fine, class: "form-control", placeholder: "In English number" %>
                </div>
              </div>
              <%= cm.hidden_field :union_id, :value => current_user.union.id %>

          <% end %>


          <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit :save, class: "btn btn-info" %>
            </div>
          </div>
      <% end %>
      <%= link_to 'Back', others_collections_path %>
    </div>
  </div>
</div>