<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">নাগরিক ফরম</div>
  </div>
  <div class="panel-body">

    <div class="form-group">
      <label for="nameInEng" class="col-md-3 control-label">Name(English)*</label>
      <div class="col-md-9">
        <%= f.text_field :village, class: "form-control", placeholder: "Name In English" %>
      </div>
    </div>

    <div class="form-group">
      <label for="nameInEng" class="col-md-3 control-label">Name(English)*</label>
      <div class="col-md-9">
        <%= f.text_field :road, class: "form-control", placeholder: "Name In English" %>
      </div>
    </div>

    <div class="form-group">
      <label for="nameInEng" class="col-md-3 control-label">Name(English)*</label>
      <div class="col-md-9">
        <%= f.text_field :word_no, class: "form-control", placeholder: "Name In English" %>
      </div>
    </div>

    <div class="form-group">
      <label for="nameInEng" class="col-md-3 control-label">Name(English)*</label>
      <div class="col-md-9">
        <%= f.text_field :upazila, class: "form-control", placeholder: "Name In English" %>
      </div>
    </div>

    <div class="form-group">
      <label for="nameInEng" class="col-md-3 control-label">Name(English)*</label>
      <div class="col-md-9">
        <%= f.text_field :district, class: "form-control", placeholder: "Name In English" %>
      </div>
    </div>

    <div class="form-group">
      <label for="nameInEng" class="col-md-3 control-label">Name(English)*</label>
      <div class="col-md-9">
        <%= f.text_field :post_office, class: "form-control", placeholder: "Name In English" %>
      </div>
    </div>
  </div>
</div>