<div class="form-group">
  <label for="nameInBn" class="col-md-3 control-label">লিঙ্গঃ</label>
  <div class="col-md-9">
    <%= f.select :gender, Citizen.GENDERS.map { |c| [c[0], c[1]] }, {}, {class: "form-control"} %>
  </div>
</div>

<div class="form-group">
  <label for="nameInBn" class="col-md-3 control-label">বৈবাহিক সম্পর্ক</label>
  <div class="col-md-9">
    <%= f.collection_select :maritial_status_id, MaritialStatus.all,:id,:name_bn,{},{class: "form-control"}%>
  </div>
</div>

<div class="form-group">
  <label for="nameInBn" class="col-md-3 control-label">ধর্ম</label>
  <div class="col-md-9">
    <%= f.collection_select :religion_id, Religion.all,:id,:name_bn,{},{class: "form-control"}%>
  </div>
</div>

<div class="form-group">
  <label for="nameInBn" class="col-md-3 control-label">বাসিন্দা</label>
  <div class="col-md-9">
    <%= f.collection_select :citizenship_state_id, CitizenshipState.all,:id,:name_bn,{},{class: "form-control"}%>
  </div>
</div>

<span class=" text-center help-block">নাগরিকত্ব নম্বর অথবা জন্ম নিবন্ধন নম্বর যেকোন একটি দিলে হবে</span>
<div class="form-group">
  <label for="nameInBn" class="col-md-3 control-label">জাতীয় পরিচয়পত্র নম্বরঃ</label>
  <div class="col-md-9">
    <%= f.text_field :nid, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <label for="nameInBn" class="col-md-3 control-label">জন্ম নিবন্ধন নম্বরঃ</label>
  <div class="col-md-9">
    <%= f.text_field :birthid, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <label for="nameInEng" class="col-md-3 control-label">জম্ম তারিখ</label>
  <div class="col-md-9">
    <%= f.text_field :dob, class: "form-control" %>
  </div>
</div>