<div class="col-md-12">
  <h4 class="text-center"><u><%= address_type address %></u></h4>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4">
        <label>গ্রাম/মহল্লা:</label>
      </div>
      <div class="col-xs-8" >
        <p><%=  address.village %></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4  control-label">
        <label>রোড/ব্লক/সেক্টর:</label>
      </div>
      <div class="col-xs-8">
        <p><%=  address.road %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4">
        <label>ওয়ার্ড নং:</label>
      </div>
      <div class="col-xs-8" >
        <p><%= address.word_no %></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4  control-label">
        <label>উপজেলা/থানা:</label>
      </div>
      <div class="col-xs-8">
        <p><%= address.upazila  %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4">
        <label>জেলা:</label>
      </div>
      <div class="col-xs-8" >
        <p><%= address.district %></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-4  control-label">
        <label>পোষ্ট অফিস:</label>
      </div>
      <div class="col-xs-8">
        <p><%= address.post_office  %></p>
      </div>
    </div>
  </div>
</div>